@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Corinthia&family=Inter:wght@300&family=Italiana&family=Poppins:wght@100;400&family=Red+Rose&display=swap');

.navbar-brand {
    font-family: 'Italiana', serif;
}

.login-link{
    border: 1px bisque solid;
    border-radius: 25%;
}